body {
	margin: 0;
	border: 0;
	padding: 0;
	
	font-family: 'Poppins', sans-serif;
}

/* ================ Typography ================ */

a {
	color: hsl(24, 23%, 53%);
}

h1,
h2,
h3,
p {
	max-width: 768px;
	margin: 1em auto;
}

h1,
h2,
h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 2.625rem; /* 42px default */
	font-weight: normal;
}
	h1,
	h2 {
		text-align: center;
	}
	h1 {
		font-style: italic;
	}
	h3 {
		font-size: 1.875rem;
	}

p {
	font-size: 1.375rem; /* 22px default */
	font-weight: 300;
}
.section-intro {
	font-style: italic;
	text-wrap: pretty;
}
	.section-intro em {
		font-style: normal;
	}

@media (min-width: 768px) {
	h1,
	h2,
	h3 {
		font-size: 3rem; /* 48px default */
	}
}

/* ================ Header ================ */

#page-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	
	display: flex;
	justify-content: space-between;
	padding: 2vh 3vw;
	
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	backdrop-filter: blur(12px);
	color: white;
	
	z-index: 2;
}
.quick-logo {
	height: 4.25rem; /* 68px default */
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
	.social-links a {
		color: inherit;
	}
	.social-links svg {
		width: 3rem; /* 48px default */
		height: 3rem;
		fill: currentColor;
	}

/* ================ Content sections ================ */

section {
	position: relative;
	padding: 6.25vh 1rem;
	
	background-size: cover;
	background-position: center;
}
.dim-background {
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;
	color: white;
}
.lighten-background {
	background-color: rgba(255, 255, 255, 0.7);
	background-blend-mode: lighten;
	color: black;
}

.columns {
	/* Unset <ul> defaults. */
	list-style-type: none;
	padding: 0;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
	.columns li {
		box-sizing: border-box;
		min-width: 16rem; /* 256px default */
		
		padding: 1rem;
	}
		.columns li img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			max-height: 200px;
		}

#intro-section {
	/* Componsate for header height. */
	padding-top: calc(4vh + 4.25rem);
}

#meet-ups-list h3,
#meet-ups-list p {
	padding: 0 1rem;
}
#meet-ups-list p {
	font-size: 1rem;
}

#people-list {
	text-align: center;
}
	#people-list li img {
		max-width: 200px;
		max-height: 200px;
	}

@media (min-width: 768px) {
	#intro-section {
		padding: 12.5vh 12.5vw;
	}
}
